.header {
    max-width: 880px;
    margin: 45px auto 40px;
    display: flex;
    flex-direction: column;
  }

  .header::after {
    content: '';
    border-bottom: 1px solid #545454;
    opacity: .7;
    width: 100%;
    padding-top: 41px;
  }

  @media  screen and (max-width: 879px) {
    .header {
      width: 100%;
      margin-top: 28px;
      margin-bottom: 42px;
    }

    .header::after {
      padding-top: 31.6px;
    }
}