.card__button {
    width: 22px;
    height: 19px;
    background-image: url(../../../images/checkbox.svg);
    background-color: transparent;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    cursor: pointer;
    border: none;
  }

  .card__button:hover {
    opacity: .5;
  }