.profile__add-button {
    width: 150px;
    height: 50px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    margin: 0;
    align-self: center;
    margin-left: auto;
    background-image: url(../../../images/add-button.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px 22px;
  }

  .profile__add-button:hover {
    opacity: .6;
    transition: opacity .3s linear;
  }

  @media  screen and (max-width: 879px) {
    .profile__add-button {
        width: 282px;
        background-size: 16px 16px;
      }
  }